<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
      function showValueForm() {
        document.getElementsByClassName("valueform")[0].setAttribute("style", "display: fixed;")
      }
      function hideValueForm() {
        document.getElementsByClassName("valueform")[0].setAttribute("style", "display: none;")
      }
      function showValueFormMonth() {
        document.getElementsByClassName("valueform")[1].setAttribute("style", "display: fixed;")
      }
      function hideValueFormMonth() {
        document.getElementsByClassName("valueform")[1].setAttribute("style", "display: none;")
      }
    </script>
    <title>FWAccounting - Home</title>
</head>
<body class=".bg-dark">
    <div class="contentwrapper">
        <div class="menu bg-dark">
            <h3>FWAccounting</h3>
            {% if privilege == '3' %}
            <input id="exporta" type="button" onclick="window.location.href='/panel';" class="btn btn-secondary" value="Administrator panel">
            {% endif %}
            <button type="button" onclick="showValueForm()"class="btn btn-secondary">Add</button>
            {% if privilege != '1' %}
            <button type="button" onclick="showValueFormMonth()"class="btn btn-secondary">Export monthly</button>
            <input id="exporta" type="button" onclick="window.location.href='/exportyear';" class="btn btn-secondary" value="Export All">
            {% endif %}
          </div>
        <div class="valueform menu bg-dark" style="display: none;">
          <form action="/add" method="POST" enctype=multipart/form-data>
            <h3>Add to database:</h3>
            <input type="text" name="name" placeholder="Name">
            <select name="type" id="type">
              <option value="neg">Spending</option>
              <option value="pos">Income</option>
            </select>
            <input type="text" name="desc" placeholder="Description">
            <input type="number" step="0.01 name="amount" placeholder="Amount">
            <input id="date" type="date" name="date" placeholder="date">
            <input type=file name=file>
            <input type="submit" class="btn btn-secondary" value="Save">
            <button type="button" onclick="hideValueForm()" id="hidebtn" class="btn btn-secondary">Close</button>
          </form>
        </div>
        <div class="valueform menu bg-dark" style="display: none;">
          <form action="/exportmonth" method="POST" enctype=multipart/form-data>
            <h3>Export by month:</h3>
            <select name="month" id="month">
              <option value="01">01</option>
              <option value="02">02</option>
              <option value="03">03</option>
              <option value="04">04</option>
              <option value="05">05</option>
              <option value="06">06</option>
              <option value="07">07</option>
              <option value="08">08</option>
              <option value="09">09</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
            <input type="submit" class="btn btn-secondary" value="Save">
            <button type="button" onclick="hideValueFormMonth()" id="hidebtn" class="btn btn-secondary">Close</button>
          </form>
        </div>
        <div class="spendings bg-dark"><h1>{{ amount }} €</h1> </div>
        <div class="history bg-dark">
            <h3>History:</h3>
            <table style="text-align: center;"class="table text-light bg-dark">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Label</th>
                    <th scope="col">Description</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Date</th>
                    <th scope ="col">Reciept</th>
                    {% if privilege > '1' %}
                    <th scope="col">Approve/Delte</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                  {% if privilege != '1' %}
                  {% for row in comptadata %}
                <tr>
                    <th scope="row">{{ row[0] }}</th>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }} €</td>
                    <td>{{ row[4] }}</td>
                    {% if row[5] != 'NULL' %}
                    <td><a target="_blank" rel="noopener noreferrer" href="{{ row[5] }}">Download invoice</a></td>
                    {% else %}
                    <td>No invoice available</td>
                    {% endif %}
                    {% if row[6] == "Pending" and privilege > '1' %}
                    <td>
                      <form action="/apprspend" method="POST" style="width: 30%;margin: auto;"><button name="id" value="{{ row[0] }}"
                        type="submit" class="btn btn-secondary"style="width: 100%;">Approve</button></form>
                        <form action="/delspend" method="POST" style="width: 30%;margin: auto;"><button name="id" value="{{ row[0] }}"
                          type="submit" class="btn btn-danger"style="width: 100%;">Delete</button></form>
                    </td>
                    {% else %}
                    <td>Approved                          <form action="/delspend" method="POST" style="width: 30%;margin: auto;"><button name="id" value="{{ row[0] }}"
                      type="submit" class="btn btn-danger"style="width: 100%;">Delete</button></form></td>
                    {% endif %}
                </tr>
                  {% endfor %}
                  {% else %}
                  <tr><td> You are a simple user, you can't see the spendings/income history</td></tr>
                  {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>